*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
.wrap{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 40px;
    h2{
        margin-top: 15px;
        color: #333;
    }
    .filesContainer{
        display: flex;
        width: 50%;
        flex-wrap: wrap;
        margin-top: 15px;
        .filesContainer_file{
            width: 200px;
            height: 200px;
            background-color: #333;
            color: #fff;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            font-weight: 600;
            margin: 0 15px 0 0;
            border-radius: 6px;
            transition: 0.5s ease;
        }
        .filesContainer_file:hover{
            background-color: #fff;
            color: #333;
            border: #333 1px solid;
            box-shadow: #333 5px 5px 4px;
        }
    }
}