*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
.wrap{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 40px;
    h2{
        margin-top: 15px;
        color: #333;
    }
    .filesContainer{
        display: flex;
        width: 50%;
        flex-wrap: wrap;
        margin-top: 15px;
        .filesContainer_file{
            width: 200px;
            height: 200px;
            background-color: #333;
            color: #fff;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            font-weight: 600;
            margin: 0 15px 0 0;
            border-radius: 6px;
            transition: 0.5s ease;
        }
        .filesContainer_file:hover{
            background-color: #fff;
            color: #333;
            border: #333 1px solid;
            box-shadow: #333 5px 5px 4px;
        }
    }
}
.filesPopup_container{
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333333a9;
    .filesPopup{
        width: 80%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        padding: 40px;
        border: 2px #ccc solid;
        border-radius: 20px;
        background-color: #fff;
        position: relative;
        color: #333;
        .xmark{
            position: absolute;
            right: 20px;
            top: 20px;
            font-size: 24px;
            font-weight: 700;
            cursor: pointer;
        }
        .filesPopup_fileName{
            font-size: 40px;
            font-weight: 700;
        }
        .filesPopup_fileFiling{
            font-size: 24px;
            font-weight: 300;
            margin-top: 20px;
            border: none;
            outline: none;
            width: 100%;
            height: 85%;
            resize: none; 
        }
        .filesPopup_emailsAddingCon{
            width: 55%;
            height: 60px;
            display: flex;
            justify-content: space-between;
            margin-top: 15px;

            input{
                width: 50%;
                outline: none;
                border: 1px #333 solid;
                border-radius: 6px;
                height: 60px;
                padding: 10px;
                font-size: 24px;
                font-weight: 600;
            }
            button{
                background-color: #333;
                color: #fff;
                width: 300px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 20px;
                transition: 0.5s ease;
                cursor: pointer;
                font-size: 24px;
                font-weight: 600;
            }
            button:hover{
                background-color: #fff;
                color: #333;
                border: 2px #333 solid;
            }
        }

            .filesPopup_SendEmailsBtn{
                background-color: #333;
                color: #fff;
                width: 300px;
                height: 170px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 20px;
                transition: 0.5s ease;
                cursor: pointer;
                font-size: 24px;
                font-weight: 600;
                margin-top: 20px;
            }
            .filesPopup_SendEmailsBtn:hover{
                background-color: #fff;
                color: #333;
                border: 2px #333 solid;
            }
        

    }
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #333;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #b6b6b6;
}